    <script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script src="/js/jquery-2.1.0.min.js"></script>
    <script src="/js/jquery.sketchable.min.js"></script>
    <script src="/js/jquery.sketchable.memento.min.js"></script>
    <script src="/js/jsketch.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>